.parts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-container-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.c-m-0{
    margin: 0 !important;
}

/*make inventoryItems responsive*/
@media only screen and (max-width:767px) {
    .parts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-container-main{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:768px) and (max-width:992px) {
    .parts-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-container-main{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .product-container-main{
        grid-template-columns: repeat(4, 1fr);
    }
}