
.navbar-indicator{
  position: absolute;
  margin-top: -50px;
  margin-left: 25px;
  padding: 3px;
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}

.discount{
  width: 90px;
  margin-top: 12px;
  position: absolute;
}

.costum-camera{
  margin-top: 114px;
  margin-left: -45px;
  position: absolute;
}

.custom-relative{
  position: relative;
}

.custom-card{
  position: relative;
}

.custom-card:hover{
  border: 1px solid red;
  cursor: pointer;
}

.custom-cursor-pointer{
  cursor: pointer;
}

.custom-margin-top-10{
  margin-top: 50px;
}

.dicustomsplay-none{
  display: block !important;
}

.custom-img-fluid{
  height: 450px;
}

.custom-container{
  width: 96%;
}

.costum-margin-right{
  margin: 2px 0;
  margin-right: 5px;
}

.costum-left36{
  margin-left: 36px !important;
}

.navbar1 {
  background-color: #333;
  overflow: hidden;
}

.navbar1 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar1 a:hover {
  background-color: #555;
}

.navbar1 a:hover > .div{
  display: block;
}

.hello{
  display: none;
}


@media only screen and (max-width: 767px) {
  .custom-img-fluid{
    height: 320px;
    width: 96%;
  }
  .custom-img-div{
    justify-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .dicustomsplay-none{
    display: none !important;
  }
  .custom-img-fluid{
    height: 450px;
    width: 97%;
  }
}





.custom-mini{
  width: 100%;
  background-color: #ddd;
}

.hover-trigger {
  display: inline-block;
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.hover-trigger:hover{
  color: red;
}

.mini-navbar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.hover-trigger:hover .mini-navbar {
  display: block;
  z-index: 1;
}

.mini-navbar a:hover{
  background-color: red;
  color: #fff;
}
.mini-navbar a {
  display: block;
  padding: 6px 20px;
  text-decoration: none;
  color: #333;
}

.styled-marquee {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.taka{
  font-size: 20px;
  font-weight: 1000;
}

.c-btn{
  padding: 5px 20px;
  background-color: green;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

.c-btn:hover{
  background-color: rgb(58, 142, 58);
}