
.discount{
  width: 90px;
  margin-top: 12px;
  position: absolute;
}

.custom-card{
  position: relative;
}

.custom-card:hover{
  border: 1px solid red;
  cursor: pointer;
}

.custom-cursor-pointer{
  cursor: pointer;
}