
.discount{
  width: 90px;
  margin-top: 12px;
  position: absolute;
}

.custom-card{
  position: relative;
}

.custom-card:hover{
  border: 1px solid red;
  cursor: pointer;
}

.custom-cursor-pointer{
  cursor: pointer;
}

.custom-margin-top-10{
  margin-top: 50px;
}

.dicustomsplay-none{
  display: block !important;
}

.custom-img-fluid{
  height: 450px;
}

.custom-container{
  width: 96%;
}

.costum-margin-right{
  margin: 2px 0;
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .custom-img-fluid{
    height: 320px;
    width: 96%;
  }
  .custom-img-div{
    justify-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .dicustomsplay-none{
    display: none !important;
  }
  .custom-img-fluid{
    height: 450px;
    width: 97%;
  }
}

